# general settings
GENERAL:
  DEBUG: True
  ALLOWED_LLMS: ["gpt-4o", "gpt-5.1-2025-11-13"] # TODO: add more models as needed

# evaluation settings
EVALUATION:
  ALLOWED_METRICS: ["m2scorer", "errant", "gleu"]
  PYTHON2_FULL_PATH_FOR_M2SCORER: "/Users/tolgahanturker/.pyenv/versions/2.7.18/bin/python" # for m2scorer which requires python < 3.7 TODO: remove content before committing
  M2SCORER_PATH: "./data/conll2014/m2scorer/scripts/m2scorer.py"

# openai api settings
OPENAI_API:
  KEY: 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
  TEMP: 0.0
  DELAY_PER_REQUEST: 0.2 # this guarantees that we do not exceed the rate limit of 500 RPM (5 x 60 = 300 RPM)